<span class="title">Classes</span>

<span class="sub title">Your classes</span>
<span><%= button_to 'Join Classroom', new_student_join_search_path, method: :get %></span>

<% @classrooms.each do |classroom| %>
  <div class="card">
    <span class="sub title"><%= link_to classroom.name, classroom_path(classroom) %></span>
    <span>Subject: <%= classroom.subject %></span>

    <span>Student Count: <%= classroom.users.count %></span>
  </div>
<% end %>
