<h1>Your Classes</h1>
<span><%= link_to 'Join Classroom', new_student_join_search_path %></span>

<% @classrooms.each do |classroom| %>
  <h3><%= link_to classroom.name, classroom_path(classroom) %></h3>
  <span>Student Count: <%= classroom.users.count %></span>
<% end %>
