<% if @classroom.blank? %>
  <h4>0 classrooms matched the code <%= params[:search] %>.</h4>
<% else %>
  <h3><%= link_to @classroom.name, classroom_path(@classroom) %></h3>
  <span>Student Count: <%= @classroom.users.count %></span>
<% end %>
