<div class="header">
  <span class="title medium">Join Class</span>
  <span class="text medium">
    Enter the class code provided by your Instructor to join the class.
  </span>
</div>

<div class="card">
  <%= form_tag(new_student_join_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Class Code" %>
    <%= submit_tag "Submit", :name => nil %>
  <% end %>
</div>
