<div class="header">
  <span class="title medium">Forms</span>
  <span class="title small">Select the classroom you'd like to send a form to.</span>
</div>

<div class="section">
  <span class="title medium">Your classes</span>

  <% @classrooms.each do |classroom| %>
    <%= link_to classroom_forms_path(classroom), :class => 'card align-left' do %>

        <span class="title small"><%= classroom.name %></span>
        <span class="text medium">Subject: <%= classroom.subject %></span>

        <span class="text medium">Student Count: <%= classroom.users.count %></span>

    <% end %>
  <% end %>
</div>
