<h1>Instructor Home Page</h1>

<% if @user.classrooms.count > 0 %>
  <% @user.classrooms.each do |classroom| %>
    <h3><%= link_to classroom.name, classroom_path(classroom) %></h3>
    <span>Student Count: <%= classroom.users.count %></span>
  <% end %>
<% else %>
  <%= link_to 'Create Classroom', new_classroom_path %>
<% end %>
