<div class="container">
  <div class="u-pull-left">
    <li>
      <%= link_to root_path  do %>
        <!-- <img src="/assets/home.png" alt=""> -->
        <span class="text medium">Feedback.me</span>
      <% end %>
    </li>
  </div>

  <div class="u-pull-right">
    <li>
      <% if current_user.try(:student?) %>
        <%= link_to notifications_path do %>
          <!-- <img src="/assets/forms.png" alt=""> -->
          <span class="text medium">Notifications</span>
        <% end %>
      <% end %>
    </li>

    <li>
      <%= link_to classrooms_path do %>
      <span class="text medium">Classes</span>
      <!-- <img src="/assets/classrooms.png" alt=""> -->
      <% end %>
    </li>

    <li>
      <%= link_to edit_user_registration_path do %>
      <span class="text medium">Settings</span>
      <% end %>
    </li>
  </div>

</div>
