<div class="header">
  <span class="title med-sml minor">Hello, <%= current_user.first_name %> <%= current_user.last_name %></span>
</div>

<div class="section">
  <div class="row">
    <div class="card flat six columns align-left">
      <% if current_user.responses.empty? %>
        <span class="text medium">It seems like you haven't received any feedback requests since the beginning of time....encourage your instructor to send some out!</span>
      <% else %>
        <% if !current_user.responses.incomplete.empty? %>
        <span class="title medium">Alerts</span>
        <hr>
        <span class="text lg-med">Feedback</span>
        <span class="text medium minor">Incomplete | <%= current_user.responses.incomplete.count %></span>

        <% else %>
        <span class="text medium">No alerts! You have filed out all of your forms, good for you!</span>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
