<div class="header">
  <span class="title medium">Notifications</span>
</div>

<div class="section">  
  <% @incomplete_notifications.each do |notification| %>
  <div class="card full">
    <%= link_to(edit_response_path(notification.response)) do %>
    <section>
      <span class="sub title">Form Request</span>
      <span><%= notification.response.form.assesment_type %></span>
      <span>from <%= notification.sender.email %></span>
    </section>
    <% end %>
  </div>
  <% end %>
</div>
