<div class="content feedback" id="landing">
  <div class="text area">
    <p class="title">Connect all the dots with peer to peer feedback</p>
    <div class="small divider"></div>
    <p class="body clear">
      A place where students would be able to share
      feedback with each other. And also share self-asessment and receive
      feedback.
    </p>
  </div>
  <img class="landing image" src="assets/feedback-dots.png"/>
</div>

<div class="content criticism">
  <img class="landing image" src="assets/criticism-dots.png"/>
  <div class="text area">
    <p class="title">A place where criticism doesn’t exist</p>
    <div class="small divider"></div>
    <p class="body clear">
      Students would be able to anonymously flag
      vulgar students/bullies. </p>
  </div>
</div>

<div class="content kaizen">
  <div class="text area">
    <p class="title">Kaizen</p>
    <div class="small divider"></div>
    <p class="body clear">
      A space for continous improvement.
    </p>
  </div>
  <img class="landing image" src="assets/kaizen-kenny.png"/>
</div>
