<div class="content feedback">
  <p class="landing-title">Connect all the dots with peer to peer feedback</p>
</div>

<div class="content criticism">
  <p class="landing-title">A place where criticism doesn’t exist</p>
</div>

<div class="content kaizen">
  <p class="landing-title">Kaizen</p>
</div>
