<div class="header center">
  <span class="title large">Feedback.me</span>
  <span>Get quality feedback at the click of a button</span>
</div>

<div class="row section">

  <%= link_to new_student_registration_path, :class => "four columns offset-by-two columns card" do %>
      <img src="assets/bulb.svg" alt="">
      <span class="title medium">Students</span>
      <span class="text medium">
        Perfect for the student who seeks mild
        competitiveness and rigor amongst their
        peers, and wants to track personal growth
        to skill up in any subject.
      </span>
  <% end %>

  <%= link_to new_instructor_registration_path, :class => "four columns card" do %>
    <img src="assets/pencil.svg" alt="">
    <span class="title medium">Teachers</span>
    <span class="text medium">
      Perfect for the teacher who wants to
      give their students more actionable
      feedback, receive feedback for themselves,
      and track their own growth.
    </span>
  <% end %>
</div>
