<div class="header center">
  <span class="title">Feedback.me</span>
  <span>Get quality feedback at the click of a button</span>
</div>

<div class="row section">

  <%= link_to new_instructor_registration_path, :class => "four columns card" do %>
      <img src="assets/pencil.svg" alt="">
      <span class="title small">Students</span>
      <span class="text small">
        Perfect for the teacher who wants to
        give their students more actionable
        feedback, receive feedback for themselves,
        and track their own growth.
      </span>
  <% end %>

  <%= link_to new_student_registration_path, :class => "four columns card" do %>
    <img src="assets/pencil.svg" alt="">
    <span class="title small">Teachers</span>
    <span class="text small">
      Perfect for the teacher who wants to
      give their students more actionable
      feedback, receive feedback for themselves,
      and track their own growth.
    </span>
  <% end %>

  <a href="#" class="four columns card">
    <img src="assets/pencil.svg" alt="">
    <span class="title small">Coming Soon...</span>
    <span class="text small">
      Perfect for the teacher who wants to
      give their students more actionable
      feedback, receive feedback for themselves,
      and track their own growth.
    </span>
  </a>
</div>
