<div class="header align-center">
  <span class="title large">Feedback.me</span>
  <span>Get quality feedback at the click of a button</span>
</div>

<div class="row section">

  <%= link_to new_student_registration_path, :class => "four columns offset-by-two columns card" do %>
      <img src="assets/bulb.svg" alt="students">
      <span class="title medium">Students</span>
      <span class="text medium">
        Perfect for the student who seeks mild
        competitiveness and rigor amongst their
        peers, and wants to track personal growth
        to skill up in any subject.
      </span>
  <% end %>

  <%= link_to new_instructor_registration_path, :class => "four columns card" do %>
    <img src="assets/pencil.svg" alt="instructors">
    <span class="title medium">Teachers</span>
    <span class="text medium">
      Perfect for the teacher who wants to
      give their students more actionable
      feedback, receive feedback for themselves,
      and track their own growth.
    </span>
  <% end %>
</div>

<div class="row section align-center">
  <!-- Begin MailChimp Signup Form -->
  <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
  <style type="text/css">
  	#mc_embed_signup{background:transparent; clear:left; width:100%;}
  	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
  	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
  </style>
  <div id="mc_embed_signup">
    <form action="//space.us15.list-manage.com/subscribe/post?u=d236de099a0a33ed68394fd27&amp;id=bc5fabf723" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
        <div class="header">
          <span class="text medium">Not in the Beta? Subscribe to our mailing list for updates!</span>
        </div>
      	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter email..." required>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d236de099a0a33ed68394fd27_bc5fabf723" tabindex="-1" value=""></div>
        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button-primary"></div>
      </div>
    </form>
  </div>
  <!--End mc_embed_signup-->
</div>
