<div class="header">
  <span class="title medium">Feedback Request Details</span>
</div>

<div class="section">
  <span>Submitted: <%= @submitted_responses %></span>
  <span>Incomplete: <%= @incomplete_responses %></span>
</div>
