<div class="form-fields seven columns">
  <div class="header">
  </div>

  <p>
    <%= f.label :label, 'Skill', :class => "label", :style => "display: inline-block" %>
    <%= link_to_remove_fields "remove", f %>
  </p>
  <%= f.text_field :label, :style => "width: 100%", autofocus: true %>
</div>
