<br>

<div class="form-fields">

  <div class="row">
    <div class="five columns offset-by-one column">
      <%= f.text_area :label, autofocus: true, placeholder: 'Skill...', :class => 'u-full-width u-max-full-width' %>
    </div>
    <div class="five columns">
      <%= link_to_remove_fields "remove", f %>
    </div>
  </div>
</div>
