<span class="title">Forms</span>

<div class="card">
  <% if @forms.empty? %>
  <span class="title">No forms right now.</span>
  <% else %>
  <% @forms.each do |f| %>
  <span class="title"><%= link_to f.name, classroom_form_path(@classroom, f) %></span>
  <span class="sub title">Form Type: <%= f.assesment_type %></span>
  <% end %>
  <% end %>
</div>
