<div class="">
  <span style="display:inline-block">
    <%= link_to classroom_forms_path(@classroom) do %>
      <img src="/assets/back.svg" alt="back button" style="position: absolute">
    <% end %>
  </span>
  <h1 style="display:inline-block">
    Create a Form
  </h1>
</div>

<%= render 'form' %>
