<span>
  <%= link_to classroom_forms_path(@classroom) do %>
  <img src="/assets/back.svg" alt="back button" style="position: absolute">
  <% end %>
</span>

<div class="header">

  <span class="title medium">
    Create a Form
  </span>
</div>

<div class="section">
  <%= render 'form' %>
</div>
