<div class="header">
  <span>
    <%= link_to classroom_forms_path(@classroom) do %>
    <img src="/assets/back.svg" alt="back button" style="position: absolute">
    <% end %>
  </span>

  <br />

  <span class="title medium splash orange">
    Create a Form
  </span>
</div>

<div class="section">
  <%= render 'form' %>
</div>
