/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html, body {
  * { font-family: 'Source Sans Pro', sans-serif; }
  font-size: 20;
  margin: 0;
  padding: 0;
  background-color: #F5F5F5;
  color: black;
}

body {
    font-family: 'san-francisco' !important;
    font-weight: 100;
    color: #FAFAFA;
    height: 100%;
    width: 100%;
    color: #004056;
}

a {
  font-size: 1em;
  text-decoration: none;
}

a:hover {
  color: #F56643;
}

span {
  font-size: 1.5em;
  display: block;
}

canvas {
  max-width: 25%;
  max-height: auto;
}

a:hover g {
  stroke: #F56643;
}

svg {
  width: 1.75em;
  height: auto;
}

.logo {
  position: absolute;
  width: 100%;
  height: auto;
}

.title {
  font-size: 4em;
  display: block;
  box-sizing: border-box;
  padding:  .25em 0;
}

.sub.title {
  font-size: 2em;
}

.body {
  font-size: 2.5em;
  padding: 1em 1em 0em 0em;
  margin: 0.5em 0em 0.5em 0em;
}

.small.body {
  font-size: 1.5em;
  padding: 1em 1em 0em 0em;
  margin: 0.5em 0em 0.5em 0em;
}

.small.divider {
    float: left;
    clear: left;
    width: 125px;
    height: 10px;
    border-radius: 5px;
    border-width: 5px;
    background-color: rgb(84, 192, 235);
}

.clear { clear: both; }

/* Badges
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.badge1 {
   position: relative;
}
.badge1[data-badge]:after {
   content: attr(data-badge);
   position: absolute;
   top: 22.5px;
   right: 22.5px;
   font-size: .7em;
   background: #F56643;
   color: white;
   width: 1.25em;
   height: 1.25em;
   text-align: center;
   line-height: 18px;
   border-radius: 50%;
   box-shadow: 0 0 1px #333;
}

 /* Grid
 –––––––––––––––––––––––––––––––––––––––––––––––––– */
 .container {
   position: relative;
   width: 100%;
   max-width: 960px;
   margin: 0 auto;
   padding: 0 20px;
   box-sizing: border-box;
  }

 .columns {
   width: 100%;
   float: left;
   box-sizing: border-box;
 }

 .eleven.columns.full {
   width: 95.3333333333%;
   padding: 0 4em;
 }

 .offset-by-one.column.full,
 .offset-by-two.columns.full          { margin-left: 4.66666666667%; }

 /* For devices larger than 400px */
 @media (min-width: 400px) {
   .container {
     width: 85%;
     padding: 0;
   }
 }

 /* For devices larger than 550px */
 @media (min-width: 550px) {
   .container { width: 80%; }
   .column,
   .columns { margin-left: 4%; }
   .column:first-child,
   .columns:first-child { margin-left: 0; }
 }

 .one.column,
 .one.columns                    { width: 4.66666666667%; }
 .two.columns                    { width: 13.3333333333%; }
 .three.columns                  { width: 22%;            }
 .four.columns                   { width: 30.6666666667%; }
 .five.columns                   { width: 39.3333333333%; }
 .six.columns                    { width: 48%;            }
 .seven.columns                  { width: 56.6666666667%; }
 .eight.columns                  { width: 65.3333333333%; }
 .nine.columns                   { width: 74.0%;          }
 .ten.columns                    { width: 82.6666666667%; }
 .eleven.columns                 { width: 91.3333333333%; }
 .twelve.columns                 { width: 100%; margin-left: 0; }

 /* Offsets */
 .offset-by-one.column,
 .offset-by-one.columns          { margin-left: 8.66666666667%; }
 .offset-by-two.column,
 .offset-by-two.columns          { margin-left: 17.3333333333%; }
 .offset-by-three.column,
 .offset-by-three.columns        { margin-left: 26%;            }
 .offset-by-four.column,
 .offset-by-four.columns         { margin-left: 34.6666666667%; }
 .offset-by-five.column,
 .offset-by-five.columns         { margin-left: 43.3333333333%; }
 .offset-by-six.column,
 .offset-by-six.columns          { margin-left: 52%;            }
 .offset-by-seven.column,
 .offset-by-seven.columns        { margin-left: 60.6666666667%; }
 .offset-by-eight.column,
 .offset-by-eight.columns        { margin-left: 69.3333333333%; }
 .offset-by-nine.column,
 .offset-by-nine.columns         { margin-left: 78.0%;          }
 .offset-by-ten.column,
 .offset-by-ten.columns          { margin-left: 86.6666666667%; }
 .offset-by-eleven.column,
 .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

 /* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }

 /* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal;
}

 /* Navigation Menu
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Desktop Navigation */
.nav {
  position: fixed;
  z-index: 10;
  height: 100vh;
  background-color: rgb(250, 250, 250);
  text-align: center;
}

.nav > .name {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, 0%);
  font-size: 2.5em;
  font-weight: 400;
  /*color: #44696C;*/
}

.nav a {
  &:first-child {
    padding-top: 1.5em;
  }

  &:last-child {
    position: absolute;
    bottom: 0;
  }
  display: block;
  padding: 1em 0;
  font-size: 1.5em;
  transition: 0.1s;
}

.nav > .nav-items a:hover {
  // border-left: solid 4px #004056;
}

/* MOBILE NAV PLACE INTO A MEDIA QUERY SO THIS ONLY SHOWS UP WHEN ON MOBILE*/
.nav-mobile-button {
  display: none;
  color: black;
  z-index: 1;
  font-size:30px;
  cursor:pointer;
  position: fixed;
  right: 10%;
}

.nav-mobile {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  /*background: linear-gradient(rgba(255, 216, 155, 0.9), rgba(25, 84, 123, 0.9));*/
  background-color: rgba(255, 253, 245, .75);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align:center;
}

.nav-mobile a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 45px;
    display: block;
    transition: 0.444ms
}

.nav-mobile a:hover{
    color: #f1f1f1;
}

.nav-mobile .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


.nav-items-mobile {
    margin-top: 30%;
}

@media only screen  and (min-device-width: 320px) and (max-device-width: 480px) {
    .nav-mobile { padding-top: 15px; }

    .nav-mobile a { font-size: 50px; }

    .nav-mobile-button { display: block; }

    .nav { display: none; }

    .page-content {
        width: 100%;
        left: 0;
    }

    .project-card {
        width: calc(100% - 5%);
        height: calc(50% - 5%)
    }
}
