// Place all the styles related to the classrooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chart {
  > * {
    padding: 0;
  }
  text-align: center;
  width: 80%;
  height: auto;
  padding: 0 2rem;
}
