// Place all the styles related to the classrooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Charts
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.charts {
  .chart {
    text-align: center;
    width: 80%;
    height: auto;
    // * {
    //   padding: 0;
    // }
    .contained {
      box-sizing: border-box;
      padding: 2rem 2rem 0 2rem;
      width: 100%;
      height: 40rem;
      canvas {
        padding: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.tab {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  // border: 1px solid #ccc;
  // border-left: none;
  border-radius: 0 4px 4px 0;
  background-color: #8C8E91;
  .tab-link {
    display: block;
    text-decoration: none;
    width: 100%;
    height: calc(57.5rem / 5);
    // border: 1px solid #ccc;
    border-top: 1px solid #ccc;
    // border-left: none;
    float: left;
    transition: 0.25s;
    &:first-child {
      border-top: none;
    }
    &.last {
      border-bottom: 1px solid #ccc;
    }
    &.empty {
      border-top: none;
    }
  }
}

.tab-content {
  display: none;
}

/* Change background color of links on hover */
.tab a:hover {background-color: #97A2A4;}

/* Create an active/current tablink class */
.tab a:focus, .active {
  background-color: rgba(28, 34, 40, 0.85);
  color: white;
}
