// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content {
  position: relative;
  height: 100vh;
  &:first-child {
    background-color: rgba(245, 245, 245, 1);
  }
  background-color: rgba(255, 255, 255, 1);
  &:last-child {
    background-color: rgba(245, 245, 245, 1);
  }
}

.text.area {
  position: absolute;
  top: 38.5%;
  transform: translate(0%, -50%);
  right: 10%;
  width: 50%;
}

.landing.image {
  position: absolute;
  top: 38.5%;
  right: 7.5%;
  transform: translate(0%, -50%);
}

.feedback {
  :first-child {
    right: auto;
    left: 10%;
  }
  .text.area {
    .small.divider {
      background-color: rgb(255, 208, 91);
    }
  }
}

.criticism {
  .landing.image {
    right: auto;
    left: 7.5%;
  }
  .text.area {
    .small.divider {
      background-color: rgb(50, 74, 94);
    }
  }
}

.kaizen {
  :first-child {
    right: auto;
    left: 10%;
  }

  .text.area {
    .small.divider {
      background-color: rgb(255, 208, 91);
    }
  }
}
